@model MyAquariumManager.Web.Models.Animal.DetalhesViewModel;
@using MyAquariumManager.Core.Enums;

@{
    ViewData["Title"] = "Detalhes do Animal";
}

<div class="mt-3 mb-3">
    <h4>DETALHES DO @Model.Nome</h4>
</div>

<div class="container mt-3"></div>

<div class="row">
    <div class="col-12 col-sm-6 mt-2">
        <label><strong>Nome:</strong> @Model.Nome</label><br />
    </div>
    <div class="col-12 col-sm-6 mt-2">
        <label><strong>Nome Científico:</strong> @Model.NomeCientifico</label><br />
    </div>

    <div class="col-12 col-sm-6 mt-2">
        <label><strong>Espécie:</strong> @Model.Especie</label><br />
    </div>
    <div class="col-12 col-sm-6 mt-2">
        <label><strong>Origem:</strong> @Model.Origem</label><br />
    </div>

    <div class="col-12 col-sm-6 mt-2">
        <label><strong>Local de Aquisição:</strong> @Model.LocalAquisicao</label><br />
    </div>
    <div class="col-12 col-sm-6 mt-2">
        <label><strong>Data de Aquisição:</strong> @Model.DataAquisicao </label><br /> 
    </div>
    
    <div class="separator"></div>

    <div class="col-12 col-sm-4 mt-2">
        <label><strong>Comportamento:</strong> @Model.Comportamento</label><br />
    </div>
    <div class="col-12 col-sm-4 mt-2">
        <label><strong>Cardumeiro?</strong> @Model.Cardumeiro</label><br />
    </div>
    <div class="col-12 col-sm-4 mt-2">
        <label><strong>Quantidade Mínima:</strong> @Model.QuantidadeMinima</label><br />
    </div>

    <div class="col-12 col-sm-4 mt-2">
        <label><strong>Litragem Mínima:</strong> @Model.LitragemMinima</label><br />
    </div>
    <div class="col-12 col-sm-4 mt-2">
        <label><strong>Faixa do PH:</strong> @Model.FaixaDoPH</label><br />
    </div>
    <div class="col-12 col-sm-4 mt-2">
        <label><strong>Faixa de Temperatura:</strong> @Model.FaixaDeTemperatura</label><br />
    </div>

    <div class="col-12 col-sm-4 mt-2">
        <label><strong>Faixa de Tamanho:</strong> @Model.FaixaDeTamanho</label><br />
    </div>
    <div class="col-12 col-sm-4 mt-2">
        <label><strong>Tipo de Alimentacao:</strong>
            @{
                switch (Model.TipoDeAlimentacao)
                {
                    case TipoDeAlimentacao.Herbivoro:
                        @:Herbívoro
                        break;
                    case TipoDeAlimentacao.Carnivoro:
                        @:Carnívoro
                        break;
                    case TipoDeAlimentacao.Onivoro:
                        @:Onívoro
                        break;
                }
            }
        </label><br />
    </div>
    <div class="col-12 col-sm-4 mt-2">
        <label><strong>Tipo de Água:</strong> ]
            @{
                switch (Model.TipoDeAgua)
                {
                    case TipoDeAgua.Doce:
                        @:Água Doce
                        break;
                    case TipoDeAgua.Salgada:
                        @:Água Salgada
                        break;
                    case TipoDeAgua.Salobra:
                        @:Água Salobra
                        break;
                }
            }
        </label><br />
    </div>
    
    <div class="separator"></div>

    <div class="col-12 mt-2">
        <label><strong>Informações Adicionais:</strong> @Model.InformacoesAdicionais</label>
    </div>

</div>
<div class="row">
    <div class="container d-flex justify-content-end">
        <a asp-action="Index" class="btn btn-outline-dark d-flex justify-content-center align-items-center mx-3">Voltar</a>
    </div>
</div>

