@model MyAquariumManager.Web.Models.Planta.EditarViewModel;
@using MyAquariumManager.Core.Enums;

@{
    ViewData["Title"] = "Editar Planta";
}

<div class="mt-3 mb-3">
    <h4>EDITAR PLANTA</h4>
</div>

<div class="container mt-3"></div>

<input hidden id="id-planta" value="@Model.Id" />

<div class="container">
    <form id="form-editar-planta">
        <div class="row">
            <div class="col-sm-12 col-md-6 mb-3">
                <label for="nome" class="form-label">Nome: </label>
                <input type="text" id="nome" name="Nome" class="form-control" maxlength="200" value="@Model.Nome" required />
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
                <label for="nomeCientifico" class="form-label">Nome Científico: </label>
                <input type="text" id="nomeCientifico" name="Nome Científico" class="form-control" maxlength="200" value="@Model.NomeCientifico" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 mb-3">
                <label for="localAquisicao" class="form-label">Local Aquisição: </label>
                <input type="text" id="localAquisicao" name="Local da Aquisição" class="form-control" maxlength="100" value="@Model.LocalAquisicao" />
            </div>
            <div class="col-sm-12 col-md-2 mb-3">
                @{
                    var dataAquisicaoValue = Model.DataAquisicao.HasValue ? Model.DataAquisicao.Value.ToString("yyyy-MM-dd") : string.Empty;
                }
                <label for="dataAquisicao" class="form-label">Data Aquisição:</label>
                <input type="date" id="dataAquisicao" name="Data da Aquisição" class="form-control" value="@dataAquisicaoValue" required />
            </div>
            <div class="col-sm-12 col-md-4 mb-3">
                <label for="faixaDeTamanho" class="form-label">Faixa de Tamanho: </label>
                <input type="text" id="faixaDeTamanho" name="Faixa de Tamanho" class="form-control" maxlength="100" value="@Model.FaixaDeTamanho" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3 mb-3">
                <label for="tipoDeCrescimento" class="form-label">Tipo de Crescimento: </label>
                <select id="tipoDeCrescimento" name="Tipo de Crescimento" class="form-select" required value="">
                    <option value="selecione">-- Selecione --</option>
                    @{
                        string tipoDeCrescimento = string.Empty;
                        foreach (var tipo in Enum.GetValues(typeof(TipoDeCrescimento)))
                        {
                            int valor = (int)tipo;

                            switch (tipo)
                            {
                                case TipoDeCrescimento.Lento:
                                    tipoDeCrescimento = "Lento";
                                    break;
                                case TipoDeCrescimento.Moderado:
                                    tipoDeCrescimento = "Moderado";
                                    break;
                                case TipoDeCrescimento.Rapido:
                                    tipoDeCrescimento = "Rápido";
                                    break;
                            }

                            if (valor == (int)Model.TipoDeCrescimento)
                            {
                                <option value="@valor" selected>@tipoDeCrescimento</option>
                                continue;
                            }

                            <option value="@valor">@tipoDeCrescimento</option>
                        }
                    }
                </select>
            </div>
            <div class="col-sm-12 col-md-3 mb-3">
                <label for="tipoDeIluminacao" class="form-label">Tipo de Iluminação: </label>
                <select id="tipoDeIluminacao" name="Tipo de Iluminação" class="form-select" required value="">
                    <option value="selecione">-- Selecione --</option>
                    @{
                        string tipoDeIluminacao = string.Empty;
                        foreach (var tipo in Enum.GetValues(typeof(TipoDeIluminacao)))
                        {
                            int valor = (int)tipo;

                            switch (tipo)
                            {
                                case TipoDeIluminacao.Baixa:
                                    tipoDeIluminacao = "Baixa";
                                    break;
                                case TipoDeIluminacao.Media:
                                    tipoDeIluminacao = "Média";
                                    break;
                                case TipoDeIluminacao.Alta:
                                    tipoDeIluminacao = "Alta";
                                    break;
                            }

                            if (valor == (int)Model.TipoDeIluminacao)
                            {
                                <option value="@valor" selected>@tipoDeIluminacao</option>
                                continue;
                            }

                            <option value="@valor">@tipoDeIluminacao</option>
                        }
                    }
                </select>
            </div>
            <div class="col-sm-12 col-md-3 mb-3">
                <label for="tipoDePlantio" class="form-label">Tipo de Plantio: </label>
                <select id="tipoDePlantio" name="Tipo de Plantio" class="form-select" required value="">
                    <option value="selecione">-- Selecione --</option>
                    @{
                        string tipoDePlantio = string.Empty;
                        foreach (var tipo in Enum.GetValues(typeof(TipoDePlantio)))
                        {
                            int valor = (int)tipo;

                            switch (tipo)
                            {
                                case TipoDePlantio.Fixada:
                                    tipoDePlantio = "Fixada";
                                    break;
                                case TipoDePlantio.Fundo:
                                    tipoDePlantio = "Fundo";
                                    break;
                                case TipoDePlantio.Medio:
                                    tipoDePlantio = "Médio";
                                    break;
                                case TipoDePlantio.Frontal:
                                    tipoDePlantio = "Frontal";
                                    break;
                                case TipoDePlantio.Flutuante:
                                    tipoDePlantio = "Flutuante";
                                    break;
                            }

                            if (valor == (int)Model.TipoDePlantio)
                            {
                                <option value="@valor" selected>@tipoDePlantio</option>
                                continue;
                            }

                            <option value="@valor">@tipoDePlantio</option>
                        }
                    }
                </select>
            </div>
            <div class="col-sm-12 col-md-3 mb-3">
                <label for="faixaDoPh" class="form-label"> Faixa do PH: </label>
                <input type="text" id="faixaDoPh" name="Faixa do PH" class="form-control" maxlength="100" value="@Model.FaixaDoPH" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <label for="faixaDeTemperatura" class="form-label"> Faixa de Temperatura: </label>
                <input type="text" id="faixaDeTemperatura" name="Faixa do Temperatura" class="form-control" maxlength="100" value="@Model.FaixaDeTemperatura" />
            </div>
            <div class="col-sm-12 col-md-3">
                <label for="nivelDeCultivo" class="form-label"> Nível de Cultivo: </label>
                <input type="text" id="nivelDeCultivo" name="Nível de Cultivo" class="form-control" maxlength="100" value="@Model.NivelDeCutivo" />
            </div>
            <div class="col-sm-12 col-md-3">
                <label for="formaDeReproducao" class="form-label"> Forma de Reprodução: </label>
                <input type="text" id="formaDeReproducao" name="Forma de Reprodução" class="form-control" maxlength="100" value="@Model.FormaDeReproducao" />
            </div>
            <div class="col-sm-12 col-md-3 mb-3">
                <label for="exigeCO2" class="form-label">Exige CO²?</label>
                <input type="checkbox" id="exigeCO2" name="Exige CO²?" class="form-control form-check-input" value="@Model.ExigeCO2" checked="@Model.ExigeCO2" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 mb-3">
                <label for="informacoesAdicionais" class="form-label">Informações Adicionais: </label>
                <textarea id="informacoesAdicionais" rows="4" cols="50" style="resize: none;" maxlength="800" class="form-control">@Model.InformacoesAdicionais</textarea>
            </div>
        </div>

        <div class="row">
            <div class="container d-flex justify-content-end">
                <a asp-action="Index" class="btn btn-outline-dark d-flex justify-content-center align-items-center mx-3">Voltar</a>
                <button type="button" onclick="atualizarPlanta()" class="btn btn-dark d-flex justify-content-center align-items-center">Salvar</button>
            </div>
        </div>
    </form>
</div>

<style>

</style>

<script>
    addAllEventListener();

    function atualizarPlanta() {
        if (!validarFormulario()) {
            return;
        }

        let atualizarPlantaDto = obterDadosFormulario();

        let atualizarPlantaUrl = '@Url.Action("Atualizar", "Planta")';

        $.ajax({
            url: atualizarPlantaUrl,
            type: 'PUT',
            data: JSON.stringify(atualizarPlantaDto),
            contentType: 'application/json',
            success: function(response) {
                if (response.success) {
                    toastr.success('Planta editada com sucesso!', 'Sucesso');
                    setTimeout(function() {
                        window.location.href = '/Planta';
                    }, 1500);

                } else {
                    response.errors.forEach(error => {
                        toastr.warning(error);
                    });
                }
            },
            error: function(xhr, status, errors) {
                if (errors && Array.isArray(errors)) {
                    errors.forEach(error => {
                        toastr.warning(error);
                    });
                }
                else if (xhr.responseJSON && Array.isArray(xhr.responseJSON.errors)) {
                    xhr.responseJSON.errors.forEach(error => {
                        toastr.warning(error);
                    });
                } else {
                    toastr.error('Ocorreu uma falha ao editar a planta. Tente novamente mais tarde!');
                }

                console.log(`Ocorreu uma falha ao editar a planta. ErrorInfo: ${xhr} + ${errors}`);
            }
        });
    }

    function validarFormulario() {
        let formularioValido = true;

        let camposObrigatorios = document.querySelectorAll('input[required], textarea[required], select[required]');

        camposObrigatorios.forEach(campo => {
            campo.classList.remove('is-invalid');
        });

        camposObrigatorios.forEach(campo => {
            if (campo.value.trim() === '') {
                toastr.warning(`O campo ${campo.name} é obrigatório.`);
                campo.classList.add('is-invalid');
                formularioValido = false;
            }
        });

        return formularioValido;
    }

    function obterDadosFormulario() {
        let planta = {
            Id: document.getElementById('id-planta').value,
            Nome: document.getElementById('nome').value.trim(),
            NomeCientifico: document.getElementById('nomeCientifico').value.trim(),
            DataAquisicao: document.getElementById('dataAquisicao').value,
            LocalAquisicao: document.getElementById('localAquisicao').value.trim(),
            FaixaDeTamanho: document.getElementById('faixaDeTamanho').value.trim(),
            TipoDeCrescimento: parseInt(document.getElementById('tipoDeCrescimento').value) || 0,
            TipoDeIluminacao: parseInt(document.getElementById('tipoDeIluminacao').value) || 0,
            TipoDePlantio: parseInt(document.getElementById('tipoDePlantio').value) || 0,
            FaixaDoPH: document.getElementById('faixaDoPh').value.trim(),
            FaixaDeTemperatura: document.getElementById('faixaDeTemperatura').value.trim(),
            NivelDeCultivo: document.getElementById('nivelDeCultivo').value.trim(),
            FormaDeReproducao: document.getElementById('formaDeReproducao').value.trim(),
            ExigeCO2: document.getElementById('exigeCO2').checked,
            InformacoesAdicionais: document.getElementById('informacoesAdicionais').value.trim()
        };

        return planta;
    }
</script>